
.header, .right {
    display: flex;
    justify-content:space-between;
    gap:20px;
}

* {
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 50px;
}

.main {
    display: flex;
    text-align: justify;
    gap: 30px;
    margin-top: 50px;
}

img {
    width: 60vw;
    height: 60vh;
}
